.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-vegetating {
  width: 1.3330078125em;
}

.icon-seed {
  width: 0.75em;
}

.icon-group {
  width: 1.25em;
}

.icon-flowering {
  width: 0.8662109375em;
}

.icon-clone {
  width: 2.22265625em;
}

.icon-germination {
  width: 0.748046875em;
}

.icon-basket-bud {
  width: 0.9599609375em;
}

.icon-growing-medium {
  width: 0.85546875em;
}

.icon-to-water {
  width: 1.0263671875em;
}

.icon-flower-type {
  width: 0.9072265625em;
}

.icon-mixes {
  width: 1.0263671875em;
}

.icon-budbuds-logo {
  width: 0.6044921875em;
}

.icon-canabis {
  width: 0.900390625em;
}

.icon-arrow-load {
  width: 0.5em;
}

.icon-budbuds {
  width: 1.3330078125em;
}

.icon-vegetating2 {
  width: 1.3330078125em;
}

.icon-seed2 {
  width: 0.75em;
}

.icon-group2 {
  width: 1.25em;
}

.icon-flowering2 {
  width: 0.8662109375em;
}

.icon-clone2 {
  width: 2.22265625em;
}

.icon-germination2 {
  width: 0.748046875em;
}

.icon-basket-bud2 {
  width: 0.9599609375em;
}

.icon-growing-medium2 {
  width: 0.85546875em;
}

.icon-to-water2 {
  width: 1.0263671875em;
}

.icon-flower-type2 {
  width: 0.9072265625em;
}

.icon-mixes2 {
  width: 1.0263671875em;
}

.icon-budbuds-logo2 {
  width: 0.6044921875em;
}

.icon-canabis2 {
  width: 0.900390625em;
}

.icon-arrow-load2 {
  width: 0.5em;
}

.icon-budbuds2 {
  width: 1.3330078125em;
}

.icon-search {
  width: 0.9285714285714285em;
}

.icon-star {
  width: 0.9285714285714285em;
}

.icon-star-o {
  width: 0.9285714285714285em;
}

.icon-remove {
  width: 0.7857142857142857em;
}

.icon-gear {
  width: 0.8571428571428571em;
}

.icon-home {
  width: 0.9285714285714285em;
}

.icon-lock {
  width: 0.6428571428571428em;
}

.icon-qrcode {
  width: 0.7857142857142857em;
}

.icon-tags {
  width: 1.0597142857142856em;
}

.icon-camera {
  width: 1.0714285714285714em;
}

.icon-pencil {
  width: 0.8454285714285714em;
}

.icon-tint {
  width: 0.5714285714285714em;
}

.icon-check-square-o {
  width: 0.9324999999999999em;
}

.icon-times-circle {
  width: 0.8571428571428571em;
}

.icon-check-circle {
  width: 0.8571428571428571em;
}

.icon-arrow-left {
  width: 0.8928571428571428em;
}

.icon-arrow-right {
  width: 0.8214285714285714em;
}

.icon-calendar {
  width: 0.9285714285714285em;
}

.icon-sign-out {
  width: 0.875em;
}

.icon-trophy {
  width: 0.9285714285714285em;
}

.icon-square-o {
  width: 0.7857142857142857em;
}

.icon-globe {
  width: 0.8571428571428571em;
}

.icon-angle-double-right {
  width: 0.5535714285714285em;
}

.icon-angle-down {
  width: 0.6428571428571428em;
}

.icon-chevron-circle-right {
  width: 0.8571428571428571em;
}

.icon-ellipsis-v {
  width: 0.21428571428571427em;
}

.icon-bug {
  width: 0.9285714285714285em;
}

.icon-share-alt {
  width: 0.8571428571428571em;
}

.icon-trash {
  width: 0.7857142857142857em;
}

.icon-venus {
  width: 0.63em;
}

.icon-mars {
  width: 0.8571428571428571em;
}

.icon-neuter {
  width: 0.6428571428571428em;
}

.icon-calendar-plus-o {
  width: 0.9285714285714285em;
}

.icon-calendar-check-o {
  width: 0.9285714285714285em;
}

.icon-shopping-basket {
  width: 1.1428571428571428em;
}

.icon-thermometer-4-4 {
  width: 0.5714285714285714em;
}

.icon-thermometer-3-4 {
  width: 0.5714285714285714em;
}

.icon-thermometer-2-4 {
  width: 0.5714285714285714em;
}

.icon-thermometer-1-4 {
  width: 0.5714285714285714em;
}

.icon-thermometer-0-4 {
  width: 0.5714285714285714em;
}

.icon-search2 {
  width: 0.9285714285714285em;
}

.icon-star2 {
  width: 0.9285714285714285em;
}

.icon-star-o2 {
  width: 0.9285714285714285em;
}

.icon-remove2 {
  width: 0.7857142857142857em;
}

.icon-gear2 {
  width: 0.8571428571428571em;
}

.icon-home2 {
  width: 0.9285714285714285em;
}

.icon-lock2 {
  width: 0.6428571428571428em;
}

.icon-qrcode2 {
  width: 0.7857142857142857em;
}

.icon-tags2 {
  width: 1.0597142857142856em;
}

.icon-camera2 {
  width: 1.0714285714285714em;
}

.icon-pencil2 {
  width: 0.8454285714285714em;
}

.icon-tint2 {
  width: 0.5714285714285714em;
}

.icon-check-square-o2 {
  width: 0.9324999999999999em;
}

.icon-times-circle2 {
  width: 0.8571428571428571em;
}

.icon-check-circle2 {
  width: 0.8571428571428571em;
}

.icon-arrow-left2 {
  width: 0.8928571428571428em;
}

.icon-arrow-right2 {
  width: 0.8214285714285714em;
}

.icon-calendar2 {
  width: 0.9285714285714285em;
}

.icon-sign-out2 {
  width: 0.875em;
}

.icon-trophy2 {
  width: 0.9285714285714285em;
}

.icon-square-o2 {
  width: 0.7857142857142857em;
}

.icon-globe2 {
  width: 0.8571428571428571em;
}

.icon-angle-double-right2 {
  width: 0.5535714285714285em;
}

.icon-angle-down2 {
  width: 0.6428571428571428em;
}

.icon-chevron-circle-right2 {
  width: 0.8571428571428571em;
}

.icon-ellipsis-v2 {
  width: 0.21428571428571427em;
}

.icon-bug2 {
  width: 0.9285714285714285em;
}

.icon-share-alt2 {
  width: 0.8571428571428571em;
}

.icon-trash2 {
  width: 0.7857142857142857em;
}

.icon-venus2 {
  width: 0.63em;
}

.icon-mars2 {
  width: 0.8571428571428571em;
}

.icon-neuter2 {
  width: 0.6428571428571428em;
}

.icon-calendar-plus-o2 {
  width: 0.9285714285714285em;
}

.icon-calendar-check-o2 {
  width: 0.9285714285714285em;
}

.icon-shopping-basket2 {
  width: 1.1428571428571428em;
}

.icon-thermometer-4-42 {
  width: 0.5714285714285714em;
}

.icon-thermometer-3-42 {
  width: 0.5714285714285714em;
}

.icon-thermometer-2-42 {
  width: 0.5714285714285714em;
}

.icon-thermometer-1-42 {
  width: 0.5714285714285714em;
}

.icon-thermometer-0-42 {
  width: 0.5714285714285714em;
}
