@font-face {
  font-family: 'BudBuds';
  src:
    url('fonts/BudBuds.ttf?n6iw00') format('truetype'),
    url('fonts/BudBuds.woff?n6iw00') format('woff'),
    url('fonts/BudBuds.svg?n6iw00#BudBuds') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'BudBuds' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-judge:before {
  content: "\e946";
}
.icon-search:before {
  content: "\f002";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-check:before {
  content: "\f00c";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-gear:before {
  content: "\f013";
}
.icon-home:before {
  content: "\f015";
}
.icon-lock:before {
  content: "\f023";
}
.icon-qrcode:before {
  content: "\f029";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-camera:before {
  content: "\f030";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-tint:before {
  content: "\f043";
}
.icon-check-square-o:before {
  content: "\f046";
}
.icon-times-circle:before {
  content: "\f057";
}
.icon-check-circle:before {
  content: "\f058";
}
.icon-arrow-left:before {
  content: "\f060";
}
.icon-arrow-right:before {
  content: "\f061";
}
.icon-leaf:before {
  content: "\f06c";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-comment:before {
  content: "\f075";
}
.icon-sign-out:before {
  content: "\f08b";
}
.icon-trophy:before {
  content: "\f091";
}
.icon-square-o:before {
  content: "\f096";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-copy:before {
  content: "\f0c5";
}
.icon-files-o:before {
  content: "\f0c5";
}
.icon-comment-o:before {
  content: "\f0e5";
}
.icon-angle-double-right:before {
  content: "\f101";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-chevron-circle-right:before {
  content: "\f138";
}
.icon-ellipsis-v:before {
  content: "\f142";
}
.icon-bug:before {
  content: "\f188";
}
.icon-share-alt:before {
  content: "\f1e0";
}
.icon-trash:before {
  content: "\f1f8";
}
.icon-venus:before {
  content: "\f221";
}
.icon-mars:before {
  content: "\f222";
}
.icon-neuter:before {
  content: "\f22c";
}
.icon-calendar-plus-o:before {
  content: "\f271";
}
.icon-calendar-check-o:before {
  content: "\f274";
}
.icon-shopping-basket:before {
  content: "\f291";
}
.icon-thermometer-4-4:before {
  content: "\f2c7";
}
.icon-thermometer-3-4:before {
  content: "\f2c8";
}
.icon-thermometer-2-4:before {
  content: "\f2c9";
}
.icon-thermometer-1-4:before {
  content: "\f2ca";
}
.icon-thermometer-0-4:before {
  content: "\f2cb";
}
.icon-search2:before {
  content: "\f003";
}
.icon-star2:before {
  content: "\f008";
}
.icon-star-o2:before {
  content: "\f007";
}
.icon-check2:before {
  content: "\f00f";
}
.icon-remove2:before {
  content: "\f00e";
}
.icon-gear2:before {
  content: "\f014";
}
.icon-home2:before {
  content: "\f016";
}
.icon-lock2:before {
  content: "\f024";
}
.icon-qrcode2:before {
  content: "\f02a";
}
.icon-tags2:before {
  content: "\f02d";
}
.icon-camera2:before {
  content: "\f031";
}
.icon-pencil2:before {
  content: "\f041";
}
.icon-tint2:before {
  content: "\f044";
}
.icon-check-square-o2:before {
  content: "\f047";
}
.icon-times-circle2:before {
  content: "\f059";
}
.icon-check-circle2:before {
  content: "\f05a";
}
.icon-arrow-left2:before {
  content: "\f062";
}
.icon-arrow-right2:before {
  content: "\f063";
}
.icon-leaf2:before {
  content: "\f06d";
}
.icon-calendar2:before {
  content: "\f074";
}
.icon-comment2:before {
  content: "\f076";
}
.icon-sign-out2:before {
  content: "\f08c";
}
.icon-trophy2:before {
  content: "\f092";
}
.icon-square-o2:before {
  content: "\f097";
}
.icon-globe2:before {
  content: "\f0ad";
}
.icon-copy3:before {
  content: "\f0c6";
}
.icon-files-o2:before {
  content: "\f0c6";
}
.icon-comment-o2:before {
  content: "\f0e6";
}
.icon-angle-double-right2:before {
  content: "\f102";
}
.icon-angle-down2:before {
  content: "\f108";
}
.icon-chevron-circle-right2:before {
  content: "\f139";
}
.icon-ellipsis-v2:before {
  content: "\f143";
}
.icon-bug2:before {
  content: "\f189";
}
.icon-share-alt2:before {
  content: "\f1e1";
}
.icon-trash2:before {
  content: "\f1f9";
}
.icon-venus2:before {
  content: "\f223";
}
.icon-mars2:before {
  content: "\f224";
}
.icon-neuter2:before {
  content: "\f22d";
}
.icon-calendar-plus-o2:before {
  content: "\f272";
}
.icon-calendar-check-o2:before {
  content: "\f275";
}
.icon-shopping-basket2:before {
  content: "\f292";
}
.icon-thermometer-4-42:before {
  content: "\f2cc";
}
.icon-thermometer-3-42:before {
  content: "\f2cd";
}
.icon-thermometer-2-42:before {
  content: "\f2ce";
}
.icon-thermometer-1-42:before {
  content: "\f2cf";
}
.icon-thermometer-0-42:before {
  content: "\f2d0";
}
.icon-info:before {
  content: "\e88e";
}
.icon-info_outline:before {
  content: "\e88f";
}
.icon-menu:before {
  content: "\e5d2";
}
.icon-sync_problem:before {
  content: "\e918";
}
.icon-sync_disabled:before {
  content: "\e919";
}
.icon-update:before {
  content: "\e91a";
}
.icon-sync:before {
  content: "\e91b";
}
.icon-radio_button_checked:before {
  content: "\e90f";
}
.icon-radio_button_unchecked:before {
  content: "\e910";
}
.icon-sync_problem2:before {
  content: "\e938";
}
.icon-sync_disabled2:before {
  content: "\e93a";
}
.icon-update2:before {
  content: "\e93b";
}
.icon-sync2:before {
  content: "\e93c";
}
.icon-radio_button_checked2:before {
  content: "\e93d";
}
.icon-radio_button_unchecked2:before {
  content: "\e939";
}
.icon-genetics:before {
  content: "\e922";
  color: #3c484a;
}
.icon-vegetating:before {
  content: "\e91d";
  color: #3c484a;
}
.icon-seed:before {
  content: "\e91e";
  color: #3c484a;
}
.icon-group:before {
  content: "\e91f";
  color: #3c484a;
}
.icon-flowering:before {
  content: "\e920";
  color: #3c484a;
}
.icon-clone:before {
  content: "\e921";
  color: #3c484a;
}
.icon-corner:before {
  content: "\e91c";
}
.icon-germination:before {
  content: "\e916";
  color: #95989a;
}
.icon-basket-bud:before {
  content: "\e917";
  color: #828587;
}
.icon-environment:before {
  content: "\e911";
  color: #95989a;
}
.icon-growing-medium:before {
  content: "\e912";
  color: #95989a;
}
.icon-to-water:before {
  content: "\e90d";
  color: #3c484a;
}
.icon-flower-type:before {
  content: "\e90c";
  color: #3c484a;
}
.icon-mixes:before {
  content: "\e90b";
  color: #3c484a;
}
.icon-flower:before {
  content: "\e908";
  color: #3c484a;
}
.icon-fertilizer:before {
  content: "\e909";
  color: #3c484a;
}
.icon-budbuds-logo:before {
  content: "\e904";
}
.icon-bud:before {
  content: "\e900";
}
.icon-canabis:before {
  content: "\e901";
}
.icon-arrow-load:before {
  content: "\e902";
}
.icon-budbuds:before {
  content: "\e903";
}
.icon-genetics2:before {
  content: "\e923";
  color: #3c484a;
}
.icon-vegetating2:before {
  content: "\e936";
  color: #3c484a;
}
.icon-seed2:before {
  content: "\e937";
  color: #3c484a;
}
.icon-group2:before {
  content: "\e935";
  color: #3c484a;
}
.icon-flowering2:before {
  content: "\e924";
  color: #3c484a;
}
.icon-clone2:before {
  content: "\e925";
  color: #3c484a;
}
.icon-corner2:before {
  content: "\e926";
}
.icon-germination2:before {
  content: "\e927";
  color: #95989a;
}
.icon-basket-bud2:before {
  content: "\e928";
  color: #828587;
}
.icon-environment2:before {
  content: "\e929";
  color: #95989a;
}
.icon-growing-medium2:before {
  content: "\e92a";
  color: #95989a;
}
.icon-to-water2:before {
  content: "\e92b";
  color: #3c484a;
}
.icon-flower-type2:before {
  content: "\e92c";
  color: #3c484a;
}
.icon-mixes2:before {
  content: "\e92d";
  color: #3c484a;
}
.icon-flower2:before {
  content: "\e92e";
  color: #3c484a;
}
.icon-fertilizer2:before {
  content: "\e92f";
  color: #3c484a;
}
.icon-budbuds-logo2:before {
  content: "\e930";
}
.icon-bud2:before {
  content: "\e931";
}
.icon-canabis2:before {
  content: "\e932";
}
.icon-arrow-load2:before {
  content: "\e933";
}
.icon-budbuds2:before {
  content: "\e934";
}
.icon-cup:before {
  content: "\e913";
}
.icon-user:before {
  content: "\e90a";
}
.icon-copy2:before {
  content: "\e906";
}
.icon-cup2:before {
  content: "\e93e";
}
.icon-user2:before {
  content: "\e93f";
}
.icon-copy22:before {
  content: "\e940";
}
.icon-alert2:before {
  content: "\e942";
}
.icon-circle-full2:before {
  content: "\e943";
}
.icon-location2:before {
  content: "\e944";
}
.icon-brightness-contrast2:before {
  content: "\e945";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
.icon-warning:before {
  content: "\e915";
}
.icon-alert:before {
  content: "\e914";
}
.icon-circle-full:before {
  content: "\e90e";
}
.icon-location:before {
  content: "\e907";
}
.icon-brightness-contrast:before {
  content: "\e905";
}
.icon-warning2:before {
  content: "\e941";
}
.icon-alert2:before {
  content: "\e942";
}
.icon-circle-full2:before {
  content: "\e943";
}
.icon-location2:before {
  content: "\e944";
}
.icon-brightness-contrast2:before {
  content: "\e945";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
